.v-picker {
  box-shadow: -1px 1px 4px 2px rgba(#000, 0.05) !important;

  &__title {
    background-color: white !important;
    color: rgb(var(--v-theme-dark));
  }

  .v-date-picker-table {
    .v-btn--active.accent {
      border: 1px solid rgb(var(--v-theme-dark)) !important;
      border-radius: 100% !important;
      color: rgb(var(--v-theme-dark)) !important;

      &::before {
        display: none;
      }
    }

    .v-date-picker-table__current {
      color: rgb(var(--v-theme-dark)) !important;
    }
  }
}
