.v-data-table {
  color: rgb(var(--v-theme-dark)) !important;
  box-shadow: none !important;

  &__selected {
    font-weight: 600;

    .v-icon {
      color: rgb(var(--v-theme-primary)) !important;
    }
  }

  thead th.sortable {

    span {
      position: relative;
      display: inline-flex;
      align-items: center;
      padding-right: 12px;

      &::after {
        content: '';
        position: absolute;
        left: 100%;
        // background-image: url('./images/angleDownBlack.svg');
        width: 14px;
        height: 8px;
        transition: transform 0.3s ease-in-out;
      }
    }

    &[aria-sort="ascending"] {
      span::after {
        transform: rotate(180deg);
      }
    }

    .v-icon {
      display: none !important;
    }
  }

  // checkbox
  &__checkbox .v-icon,
  .v-input--selection-controls__ripple {
    display: none;
  }

  .v-simple-checkbox {
    width: rem(20);
    height: rem(20);
    border-radius: 3px;
    border: 1px solid rgb(var(--v-theme-grey-darken2));
    margin-left: 4px;
  }

  &__selected,
  &--full {
    .v-simple-checkbox {
      position: relative;
      background-color: rgb(var(--v-theme-primary));
      border: 1px solid rgb(var(--v-theme-primary));

      &::before {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        // background-image: url('./assets/images/checkWhite.svg');
        background-size: 100%;
        background-position: center;
      }
    }
  }

  &--middle {
    thead .v-simple-checkbox {
      position: relative;
      background-color: rgb(var(--v-theme-primary));
      border: 1px solid rgb(var(--v-theme-primary));

      &::before {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        background-size: 100%;
        background-position: center;
      }
    }
  }

  // header
  thead {
    th {
      height: auto !important;
      padding: 16px !important;
      border-bottom: 1px solid rgb(var(--v-theme-primary-darken1)) !important;
      font-size: rem(12);
      line-height: rem(16);
      letter-spacing: initial;
      font-weight: 400;
      color: rgb(var(--v-theme-dark)) !important;

      .v-icon {
        margin-left: 8px;
      }
    }
  }

  // body
  tbody {

    td {
      padding: 16px !important;
      height: auto !important;
      font-size: rem(14);
      line-height: rem(20);
      letter-spacing: initial;
      border-bottom: 1px solid #E6E8EB !important;
      max-width: rem(300);

      &:not(:first-child) {
        padding-left: 16px !important;
      }
    }
  }
}

.drag-source .v-data-table tbody tr:not(.v-data-table__selected):hover {
  background-color: rgb(var(--v-theme-primary-lighten1)) !important;

  td {
    border-top: 2px solid rgb(var(--v-theme-primary)) !important;
    border-bottom: 2px solid rgb(var(--v-theme-primary)) !important;

    &:first-child {
      border-left: 2px solid rgb(var(--v-theme-primary)) !important;
    }

    &:last-child {
      border-right: 2px solid rgb(var(--v-theme-primary)) !important;
    }
  }
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  font-size: 1rem;
}

.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  font-size: 0.875rem;
}

.v-pagination .v-btn {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.v-pagination__item .text-white {
  background-color: white !important;
}

.v-pagination__item--is-active .text-primary {
  color: white !important;
  background-color: rgb(var(--v-theme-primary)) !important;
}
