.v-dialog {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  max-width: rem(400);

  .v-card__actions {
    padding: 0 !important;
  }
}

.v-dialog>.v-overlay__content>.v-card, .v-dialog>.v-overlay__content>form>.v-card {
  padding: 10px !important;
}
