.col,
.container,
.container-fluid {
  padding-top: 0;
  padding-bottom: 0;
}

.row {
  margin: 0 -15px;
}

div[class^="col"] {
  padding: 0 15px;
}

.v-main {
  overflow: hidden !important;
}
