.v-slider {
  margin: 0;
  min-height: 0;

  &-horizontal {
    min-height: 0;
  }

  &__thumb {
    width: rem(24);
    height: rem(24);
    border: 1px solid rgb(var(--v-theme-dark)) !important;
    background-color: white !important;
    cursor: pointer;

    &::before {
      width: rem(6);
      height: rem(6);
      background-color: rgb(var(--v-theme-dark));
      transform: none;
      opacity: 1;
      top: calc(50% - #{rem(3)});
      left: calc(50% - #{rem(3)});
    }
  }

  &__track {
    &-background {
      background-color: rgb(var(--v-theme-grey-darken2)) !important;
      border-bottom-right-radius: rem(4);
      border-top-right-radius: rem(4);
    }

    &-fill {
      background-color: rgb(var(--v-theme-primary)) !important;
      border-bottom-left-radius: rem(4);
      border-top-left-radius: rem(4);
    }

    &-container {
      height: rem(8);
    }
  }
}
