.v-snack {
  &__wrapper {
    width: 100%;
    margin: 0;
    margin-top: 80px;
    min-height: 0;
    border-radius: 8px;
    box-shadow: none !important;

    @media (min-width: 960px) {
      max-width: 700px;
    }

    @media (min-width: 1264px) {
      max-width: 900px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    font-size: rem(16);

    p {
      flex: 1;
    }

    .v-icon {
      font-size: rem(20);
      line-height: rem(24);
    }
  }
}
