.v-tooltip {
  &__content {
    background-color: white;
    color: rgb(var(--v-theme-dark));
    padding: 12px;
    box-shadow: 0 2px 4px 3px rgba(#000, 0.03);
    border: 1px solid rgb(var(--v-theme-grey-darken1));
    max-width: rem(500);
  }
}
