$inter: "@/assets/fonts/Inter/";
$telegraf: "@/assets/fonts/Telegraf/";

// Inter
@font-face {
  font-weight: 100;
  font-family: "Inter";
  src: url("#{$inter}Inter-Thin.ttf");
}

@font-face {
  font-weight: 200;
  font-family: "Inter";
  src: url("#{$inter}Inter-ExtraLight.ttf");
}

@font-face {
  font-weight: 300;
  font-family: "Inter";
  src: url("#{$inter}Inter-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Inter";
  src: url("#{$inter}Inter-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "Inter";
  src: url("#{$inter}Inter-Medium.ttf");
}

@font-face {
  font-weight: 600;
  font-family: "Inter";
  src: url("#{$inter}Inter-SemiBold.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Inter";
  src: url("#{$inter}Inter-Bold.ttf");
}

@font-face {
  font-weight: 800;
  font-family: "Inter";
  src: url("#{$inter}Inter-ExtraBold.ttf");
}

@font-face {
  font-weight: 900;
  font-family: "Inter";
  src: url("#{$inter}Inter-Black.ttf");
}

// Telegraf
@font-face {
  font-weight: 400;
  font-family: "Telegraf";
  src: url("#{$telegraf}Telegraf-Regular.otf");
}

@font-face {
  font-weight: 500;
  font-family: "Telegraf";
  src: url("#{$telegraf}Telegraf-Medium.otf");
}

@font-face {
  font-weight: 600;
  font-family: "Telegraf";
  src: url("#{$telegraf}Telegraf-SemiBold.otf");
}


.h1-text {
  font-family: "Telegraf" !important;
  font-size: rem(60) !important;
  line-height: rem(70) !important;
  font-weight: 500 !important;
  letter-spacing: -2.15px !important;
}

.h2-text {
  font-family: "Telegraf" !important;
  font-size: rem(31) !important;
  line-height: rem(41) !important;
  font-weight: 500 !important;
  letter-spacing: normal !important;
}

.h3-text {
  font-family: "Telegraf" !important;
  font-size: rem(24) !important;
  font-weight: 500 !important;
  line-height: rem(32) !important;
  letter-spacing: normal !important;
}

.h4-text {
  font-family: "Telegraf" !important;
  font-size: rem(16) !important;
  font-weight: 600 !important;
  line-height: rem(24) !important;
  letter-spacing: normal !important;
}

.text-body-1 {
  font-family: "Inter" !important;
  font-size: rem(12) !important;
  line-height: rem(16) !important;
  letter-spacing: normal !important;
}

.text-body-2 {
  font-family: "Inter" !important;
  font-size: rem(14) !important;
  line-height: rem(20) !important;
  letter-spacing: normal !important;
}

.font-weight-semi-bold {
  font-weight: 600 !important;
}

.font-weight-extra-bold {
  font-weight: 800 !important;
}

.accent--text {
  color: rgb(var(--v-theme-primary)) !important;
  caret-color: rgb(var(--v-theme-primary)) !important;
}


h1, h2, h3 {
  color: rgb(var(--v-theme-primary)) !important;
  font-weight: normal !important;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none !important;
}

.primary--text {
  color: rgb(var(--v-theme-primary)) !important;
}

.black--text {
  color: rgb(var(--v-theme-black)) !important;
}

.horizontal-centered {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
