$grid-gutter: 60px;
$desktop-width: 900px;
$large-width: 1185px;
$window-transition: 0s;

$pending-base: #0000CA;
$pending-transparent: transparentize($pending-base, 0.5);
$prevalidated-correct: #8FF2B8;
$prevalidated-correct-transparent: transparentize($prevalidated-correct, 0.5);
$prevalidated-incorrect: #F6CC77;
$prevalidated-incorrect-transparent: transparentize($prevalidated-incorrect, 0.5);
$valid-base: #02B54C;
$valid-transparent: transparentize($valid-base, 0.5);
$invalid-base: #F2A711;
$invalid-transparent: transparentize($invalid-base, 0.5);
